@charset "UTF-8";
@font-face {
  font-family: InterReg;
  src: url(../fonts/Interstate-Regular.ttf); }
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Interstate-Regular, Helvetica, sans-serif;
  list-style: none;
  box-sizing: border-box;
  font-weight: lighter; }

a {
  color: #729ed7;
  text-decoration: none; }

.container {
  margin: 3vh 0; }

.header {
  padding: 3vh 3vw;
  height: 100%;
  display: flex;
  margin-bottom: 3vh;
  justify-content: space-between; }
  .header .lg img {
    max-height: 125px;
    max-width: 200px; }
  .header .navbar {
    height: 10vh;
    display: flex;
    align-self: center; }
    .header .navbar .nav {
      display: flex;
      height: 100%; }
      .header .navbar .nav ul {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        height: 100%; }
        .header .navbar .nav ul li {
          transition: all 0.3s;
          font-size: 1.5rem;
          padding: 5px 20px;
          color: #0056a7; }
        .header .navbar .nav ul li:hover {
          background: #fff;
          color: #729ed7;
          cursor: pointer;
          margin-bottom: 10px; }

.butik {
  width: 100vw;
  height: 400px;
  background: url("http://www.elon.se/Content/Images/uploaded/vendor_376/elon_b_stad_utv_converted.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  margin-bottom: 3vh; }
  .butik div {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px 10px;
    border-radius: 0px; }
    .butik div h1 {
      font-weight: bold;
      font-size: 2rem;
      color: black; }
    .butik div h3 {
      font-weight: normal;
      font-size: 1.5rem;
      color: black; }
    .butik div span {
      color: #ac000b;
      font-weight: bold; }

.om_oss {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding: 3vh 20vw;
  margin-bottom: 5vh; }
  .om_oss .jaha h1 {
    color: #004585;
    font-weight: 600;
    font-size: 3rem; }
  .om_oss .jaha h2 {
    font-weight: bold;
    font-size: 2rem; }
  .om_oss .jaha p {
    font-size: 1.3rem; }
  .om_oss .en_rad_med_ikoner {
    width: 100%;
    height: 100%; }
    .om_oss .en_rad_med_ikoner .icon_row {
      display: inline-flex; }
      .om_oss .en_rad_med_ikoner .icon_row li {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 3vh 3vw;
        color: #0056a7; }
        .om_oss .en_rad_med_ikoner .icon_row li i {
          font-size: 5rem;
          padding-top: 15px;
          color: #0056a7; }

.intro {
  padding: 3vh 3vw;
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  margin: 5vh 0; }
  .intro .beskrivning {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .intro .beskrivning iframe {
      width: 100%;
      height: 100%;
      pointer-events: none; }
  .intro .öppettider {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background: #004585;
    color: #fff; }
    .intro .öppettider .timetable {
      display: flex;
      justify-content: space-around;
      align-items: center; }

.info {
  padding: 3vh 3vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around; }
  .info .card {
    width: 30vw;
    height: 60vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center; }
    .info .card h1 {
      font-family: Helvetica;
      font-weight: normal;
      color: #fff;
      background: rgba(0, 69, 133, 0.6);
      padding: 10px 30px;
      width: 100%; }
    .info .card p {
      font-family: Helvetica;
      color: #fff;
      background: rgba(0, 69, 133, 0.6);
      padding: 10px 30px;
      line-height: 1.3;
      font-weight: lighter;
      width: 100%; }
  .info .backlunda {
    background-image: url("http://www.backlunda.se/media/1006/vit_matt_miljo.jpg"); }
  .info .creoform {
    background-image: url("http://creoform.se/Files/Billeder/inspirationspuff/2016/Creoform%20Exclusive_Carat_Ljusgr%C3%A5_2.jpg"); }
  .info .vitvaror {
    background-image: url("https://roomly.se/gamla-content/uploads/2015/01/bildlista-14216762088gn4k.jpg"); }

.kontaktformulär {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 30px black;
  background: #004585;
  color: #fff;
  display: flex;
  justify-content: space-around; }
  .kontaktformulär .kontaktinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 5vh 5vw; }
  .kontaktformulär .inputBox {
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .kontaktformulär .inputBox input[type="text"], .kontaktformulär .inputBox select, .kontaktformulär .inputBox textarea {
      width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      font-size: 1rem;
      margin: 10px 0; }
    .kontaktformulär .inputBox button {
      background: #d4000f;
      color: #fff;
      width: 150px;
      height: 40px;
      border-radius: 20px;
      box-shadow: 2px 2px 5px black;
      font-size: 0.8rem;
      transition: all 0.3s; }
    .kontaktformulär .inputBox button:hover {
      cursor: pointer;
      transform: scale(1.2); }

.footer {
  padding: 3vh 3vw;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer .kontakt {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; }
  .footer .kontaktinfo ul {
    list-style: none; }

/*# sourceMappingURL=style.css.map */
