$darkblue: #004585;
$blue: #0056a7;
$ltblue: #729ed7;
$yellow: #ffe000;
$darkred: #ac000b;
$red: #d4000f;
$white: #fff;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin componentPadding {
  padding: 3vh 3vw;
}

@mixin  redBorder {
  border: 1px solid red;
}

@font-face {
    font-family: 'interstate_condbold';
    src: url('fonts/interstate-bold-cond-58b64162258ca-webfont.woff2') format('woff2'),
         url('fonts/interstate-bold-cond-58b64162258ca-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'interstate_compregular';
    src: url('fonts/interstate-regular-comp-58b641cc0aca1-webfont.woff2') format('woff2'),
         url('fonts/interstate-regular-comp-58b641cc0aca1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Helvetica, sans-serif;
  list-style: none;
  box-sizing: border-box;
  font-weight: lighter;
}

a {
  color: $ltblue;
  text-decoration: none;
}

.container {
  margin: 3vh 0;
}

.header {
  @include componentPadding;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: $darkblue;

  .lg {
    h3 {
        font-family: interstate_condbold;
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
        font-weight: bolder;
    }
    img {
      max-height: 125px;
      max-width: 200px;
    }
  }

  .navbar {
    height: 10vh;
    display: flex;
    align-self: center;

    .nav {
      display: flex;
      height: 100%;

      ul {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        height: 100%;

        li {
          transition: all 0.3s;
          font-size: 1.5rem;
          padding: 5px 20px;
          color: $white;
        }

        li:hover {
          // background: $white;
          color: $white;
          cursor: pointer;
          margin-bottom: 10px;
        }
      }
    }
  }


}

.butik {
  width: 100vw;
  height: 400px;
  background: url("http://www.elon.se/Content/Images/uploaded/vendor_376/elon_b_stad_utv_converted.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  margin-bottom: 3vh;

  div {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px 10px;
    border-radius: 0px;

    h1 {
      // font-family: interstate_compregular;
      font-weight: bold;
      font-size: 2rem;
      color: black;
    }
    h3 {
      font-weight: normal;
      font-size: 1.5rem;
      color: black;

    }
    span {
      // font-family: interstate_compregular;
      color: $darkred;
      font-weight: bold;
    }
  }
}

.om_oss {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding: 2vh 20vw;
  margin-bottom: 5vh;

  .jaha {
    h1 {
      color: $darkblue;
      font-weight: 600;
      font-size: 3rem;
    }
    h2 {
      font-weight: bold;
      font-size: 2rem;
    }
    p {
      font-size: 1.3rem;
    }
  }

  .en_rad_med_ikoner {
    width: 100%;
    height: 100%;
    .icon_row {
      display: inline-flex;
      li {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 3vh 3vw;
        color: $blue;

        i {
          font-size: 5rem;
          padding-top: 15px;
          color: $blue;
        }
      }
    }
  }
}

.intro {
  @include componentPadding;
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  margin: 5vh 0;

  .beskrivning {
    width: 50%;
    height: 100%;
    @include flexCenter;
    flex-direction: column;

    iframe {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
  .öppettider {
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background: $darkblue;
    color: #fff;

    .timetable {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.info {
  @include componentPadding;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;

  .card {
    width: 30vw;
    height: 60vh;
    margin-bottom: 3vh;
    @include flexCenter;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;

    h1 {
      font-family: Helvetica;
      font-weight: normal;
      color: $white;
      background: rgba($darkblue, 0.6);
      padding: 10px 30px;
      width: 100%;
    }

    p {
      font-family: Helvetica;
      color: $white;
      background: rgba($darkblue, 0.6);
      padding: 10px 30px;
      line-height: 1.3;
      font-weight: lighter;
      width: 100%;
    }
  }

  .backlunda {
    background-image: url("http://www.backlunda.se/media/1006/vit_matt_miljo.jpg");
  }
  .creoform {
    background-image: url("http://creoform.se/Files/Billeder/inspirationspuff/2016/Creoform%20Exclusive_Carat_Ljusgr%C3%A5_2.jpg");
    }
  .vitvaror {
    background-image: url("https://roomly.se/gamla-content/uploads/2015/01/bildlista-14216762088gn4k.jpg");
  }
}

.kontaktformulär {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 30px black;
  background: $darkblue;
  color: #fff;
  display: flex;
  justify-content: space-around;

  .kontaktinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 5vh 3vw;
    border: 1px solid green;


    .asdf {
      display: flex;
      justify-content: space-around;
      border: 1px solid orange;
      width: 100%;
      height: 100%;
      padding: 3vh 0;

      .anställda {
        display: flex;
        // border: 1px solid red;
        flex: 1;
        height: 100%;
        ul {
          align-self: flex-start;
          li {
            width: 100%;
            margin: 1vh 0;
          }
          li i {
            margin-right: 1vw;
          }
        }
      }

      .inforuta {
        flex: 1.5;
        display: flex;
        border: 2px solid yellow;
        width: 100%;
        height: 100%;

        .frame {
          display: flex;
          .foto {
            width: 50%;
            height: 100%;
          }
          .about {
            width: 50%;
            background: #fff;
            color: $darkblue;
            padding: 13px;
            p {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }

  .inputBox {
    @include componentPadding;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input[type="text"], select, textarea {
      width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      font-size: 1rem;
      margin: 10px 0;
    }

    button {
      background: $darkred;
      color: #fff;
      width: 150px;
      height: 40px;
      border-radius: 20px;
      box-shadow: 2px 2px 5px black;
      font-size: 0.8rem;
      transition: all 0.3s;
    }
    button:hover {
      cursor: pointer;
      transform: scale(1.15);
      background: $red;
    }
  }

}

.footer {
  @include componentPadding;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: 30vh;
  width: 100%;
  @include flexCenter;

  .kontakt {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .kontaktinfo ul { list-style: none; }
}
