@charset "UTF-8";
@font-face {
  font-family: 'interstateregular';
  src: url("fonts/interstate-regular-webfont.woff2") format("woff2"), url("fonts/interstate-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'interstatebold';
  src: url("fonts/interstate-bold-webfont.woff2") format("woff2"), url("fonts/interstate-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: interstateregular, Helvetica, sans-serif;
  list-style: none;
  box-sizing: border-box; }

a {
  color: #fff;
  text-decoration: none; }

a:hover {
  color: #729ed7;
  text-decoration: underline; }

.container {
  margin: 3vh 0; }

.header_wrapper {
  box-shadow: 0px 0px 20px black; }

.header {
  padding: 3vh 3vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: #004585; }
  .header .logo {
    text-align: center; }
    .header .logo h3 {
      font-family: interstatebold, Helvetica;
      font-size: 1.2rem;
      color: rgba(255, 255, 255, 0.9);
      margin-right: 5px; }
    .header .logo img {
      max-height: 125px;
      max-width: 200px; }
  .header .mobile_navbar {
    display: none; }
  .header .navbar {
    height: 10vh;
    display: flex;
    align-self: center; }
    .header .navbar .nav {
      display: flex;
      height: 100%; }
      .header .navbar .nav ul {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        list-style: none;
        width: 100%;
        height: 100%; }
        .header .navbar .nav ul li {
          transition: all 0.3s;
          font-size: 1.5rem;
          padding: 5px 20px;
          color: rgba(255, 255, 255, 0.8); }
        .header .navbar .nav ul li:hover {
          color: #fff;
          cursor: pointer;
          margin-bottom: 10px; }

.jumbotron {
  width: 100vw;
  height: 400px;
  background: url("http://www.elon.se/Content/Images/uploaded/vendor_376/elon_b_stad_utv_converted.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vw;
  margin-bottom: 3vh; }
  .jumbotron div {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    padding: 15px 10px;
    border-radius: 0px; }
    .jumbotron div h1 {
      font-family: interstatebold;
      font-weight: bold;
      font-size: 2rem;
      color: black; }
    .jumbotron div h3 {
      font-weight: normal;
      font-size: 1.5rem;
      color: black; }
    .jumbotron div span {
      font-family: interstatebold;
      color: #ac000b;
      font-weight: bold; }

.om_oss {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  padding: 2vh 20vw;
  margin-bottom: 5vh; }
  .om_oss .intro h1 {
    color: #004585;
    font-family: interstatebold;
    font-size: 3rem; }
  .om_oss .intro h2 {
    font-family: interstatebold;
    font-size: 2rem; }
  .om_oss .intro p {
    font-size: 1.3rem; }
  .om_oss .en_rad_med_ikoner {
    width: 100%;
    height: 100%; }
    .om_oss .en_rad_med_ikoner .icon_row {
      display: inline-flex; }
      .om_oss .en_rad_med_ikoner .icon_row li {
        font-size: 1.2rem;
        font-weight: bold;
        margin: 3vh 3vw;
        color: #0056a7; }
        .om_oss .en_rad_med_ikoner .icon_row li i {
          font-size: 5rem;
          padding-top: 15px;
          color: #0056a7; }

.info_wrapper {
  padding: 3vh 3vw;
  display: flex;
  width: 100%;
  height: 40vh;
  justify-content: center;
  align-items: center;
  margin: 5vh 0; }
  .info_wrapper .beskrivning {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .info_wrapper .beskrivning iframe {
      width: 100%;
      height: 100%;
      pointer-events: none; }
  .info_wrapper .öppettider {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #004585;
    color: #fff; }
    .info_wrapper .öppettider h2 {
      text-align: center; }
    .info_wrapper .öppettider .timetable {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .info_wrapper .öppettider .timetable ul li {
        padding: 5px 0; }

.utbud {
  padding: 3vh 3vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around; }
  .utbud .card {
    width: 30vw;
    height: 60vh;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    background-size: cover;
    color: #fff; }
    .utbud .card div {
      padding: 5%;
      background: rgba(0, 69, 133, 0.6); }
  .utbud .backlunda {
    background-image: url("http://www.backlunda.se/media/1006/vit_matt_miljo.jpg"); }
  .utbud .creoform {
    background-image: url("http://creoform.se/Files/Billeder/inspirationspuff/2016/Creoform%20Exclusive_Carat_Ljusgr%C3%A5_2.jpg"); }
  .utbud .vitvaror {
    background-image: url("https://roomly.se/gamla-content/uploads/2015/01/bildlista-14216762088gn4k.jpg"); }

.kontaktformulär {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 20px black;
  background: #004585;
  color: #fff;
  display: flex;
  justify-content: space-around; }
  .kontaktformulär .kontaktinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 100%;
    height: 100%;
    padding: 5vh 3vw; }
    .kontaktformulär .kontaktinfo .anställda_wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 3vh 0; }
      .kontaktformulär .kontaktinfo .anställda_wrapper .anställda {
        display: flex;
        flex: 1;
        height: 100%; }
        .kontaktformulär .kontaktinfo .anställda_wrapper .anställda ul {
          align-self: flex-start; }
          .kontaktformulär .kontaktinfo .anställda_wrapper .anställda ul li {
            width: 100%;
            margin: 2vh 0; }
          .kontaktformulär .kontaktinfo .anställda_wrapper .anställda ul li:hover {
            text-decoration: underline;
            color: #729ed7;
            cursor: pointer; }
          .kontaktformulär .kontaktinfo .anställda_wrapper .anställda ul li i {
            margin-right: 1vw;
            color: white; }
      .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta {
        flex: 2;
        display: flex;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-in;
        opacity: 1;
        position: relative; }
        .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta .frame {
          width: 100%;
          display: none;
          opacity: 0;
          background: #fff;
          will-change: opacity;
          transition: all 0.5s ease-in-out; }
          .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta .frame .foto {
            max-width: 160px;
            max-height: 250px; }
          .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta .frame .about {
            width: 100%;
            background: #fff;
            color: #004585;
            padding: 20px 10px; }
            .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta .frame .about h3 {
              font-family: interstatebold;
              font-size: 1.8rem; }
            .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta .frame .about a {
              font-size: 0.9rem;
              color: #004585; }
            .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta .frame .about p {
              margin-top: 3vh; }
        .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta .frame-enter {
          display: flex; }
        .kontaktformulär .kontaktinfo .anställda_wrapper .inforuta .frame-enter-active {
          opacity: 1; }
  .kontaktformulär .inputBox {
    padding: 3vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .kontaktformulär .inputBox input[type="text"], .kontaktformulär .inputBox select, .kontaktformulär .inputBox textarea {
      width: 100%;
      padding: 15px;
      border: 1px solid #ccc;
      font-size: 1rem;
      margin: 10px 0; }
    .kontaktformulär .inputBox button {
      background: #ac000b;
      color: #fff;
      width: 15vw;
      height: 6vh;
      border-radius: 20px;
      box-shadow: 2px 2px 5px black;
      font-size: 0.8rem;
      transition: all 0.3s;
      margin-top: 3vh; }
    .kontaktformulär .inputBox button:hover {
      cursor: pointer;
      transform: scale(1.15);
      background: #d4000f; }

.footer {
  padding: 3vh 3vw;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  height: 100%;
  width: 100%; }
  .footer .kontakt {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center; }
    .footer .kontakt div ul li {
      margin: 10px 0; }
    .footer .kontakt div ul li a {
      color: #fff; }
    .footer .kontakt div ul li a:hover {
      text-decoration: underline;
      color: #729ed7; }

/*# sourceMappingURL=style.css.map */
